{% extends 'core/base.html' %}

{% load bootstrap4 %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block conteudo %}
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="{% url 'core:index'%}">Início</a>
    </li>
    <li class="breadcrumb-item">Perfil</li>
    <li class="breadcrumb-item">{% user_display user %}</li>
    <li class="breadcrumb-item active">Alterar senha</li>
</ol>

{% bootstrap_messages %}
{{local}}
<div class="container-fluid">
    <h2>{% trans "Change Password" %}</h2>
    <hr>
    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" name="action" class="btn btn-success">{% trans "Change Password" %}</button>
    </form>
</div>
{% endblock %}
