{% extends 'core/base.html' %}
{% load bootstrap4 %}

{% block conteudo %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'core:index'%}">Início</a>
        </li>
        <li class="breadcrumb-item ">
            <a href="{%url 'core:item-listar'%}">Itens</a>
        </li>
        <li class="breadcrumb-item active">Editar</li>
        <li class="breadcrumb-item active">{{ form.instance }}</li>
    </ol>

    <div class="container-fluid">
        <h2>Editar Item</h2>
        <hr>
        <form method="POST" class="form">
            {% csrf_token %}
            {% bootstrap_form form %}
            <hr>
            {% if perms.core.view_item %}
                <a href="{%url 'core:item-listar'%}" class="btn btn-danger ml-2 float-right">Cancelar</a>
            {% endif %}
            <button type="submit" class="btn btn-success ml-2 float-right">Salvar Item</button>
                       
        </form>
    </div>
{% endblock conteudo %}