{% extends 'core/base.html' %}
{% load bootstrap4 %}


{% block conteudo %}
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'core:index'%}">Início</a>
        </li>
        <li class="breadcrumb-item ">
            <a href="{%url 'core:locacao-listar'%}">Locações</a>
        </li>
        <li class="breadcrumb-item"><a href="{%url 'core:locacao-realizar'%}">Novo</a></li>
        <li class="breadcrumb-item active">{{ locacao.cliente }}</li>
    </ol>
    {% bootstrap_messages %}
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
                Itens da Locação
        </div>   
        <div class="card-body">
            <div class="table-responsive">  
                <a href="{% url 'core:item-novo' %}" class="btn btn-primary float-right mb-3">Adicionar</a>                 
                <table class="table table-striped table-bordered" cellspacing="0">
                    <thead class="text-center">
                        <tr>
                            <th scope="col">Filme</th>
                            <th scope="col">Data Prevista de Devolução</th>
                            <th scope="col">Valor</th>
                            <th scope="col">Ações</th>
                        </tr>
                    </thead>
                    <tfoot class="text-center">
                        <tr>
                            <th>Filme</th>
                            <th>Data Prevista de Devolução</th>
                            <th>Valor</th>
                            <th>Opções</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for i in itens %}
                            <tr class="text-center">
                                <th scope="row"><a href="{% url 'core:item-detalhe' item.id %}">{{ i.item }}</a></th>
                                <td>{{ item.data_devolucao_prevista }}</td>
                                <td>{{ item.valor }}</td>
                                <td>

                                </td>
                            </tr>
                        {% empty %}
                            <tr class="text-center">
                                <td colspan="4">Nenhum item encontrado.</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer small text-muted">Atualizado as 12:54 PM</div>
    </div>


{% endblock conteudo %}