{% extends 'core/base.html' %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% bootstrap_messages %}

{% block conteudo %}
<!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'core:index'%}">Início</a>
        </li>
        <li class="breadcrumb-item ">
            <a href="{%url 'core:genero-listar'%}">Gêneros</a>
        </li>
        <li class="breadcrumb-item active">Novo</li>
    </ol>
    <div class="container">
        <h2>Adicionar Gênero</h2>
        <hr>
        <form method="POST" class="form">
            {% csrf_token %}
            {% bootstrap_form form %}
            <hr>
            <button type="submit" class="btn btn-primary ml-2 float-right">Adicionar Filme</button>
            <a href="{%url 'core:genero-listar'%}" class="btn btn-danger ml-2 float-right">Cancelar</a>
            <button type="submit" class="btn btn-success ml-2 float-right">Adicionar Gênero</button>
            
        </form>
    </div>
{% endblock conteudo %}