{% extends 'core/base.html' %}
{% load bootstrap4 %}


{% block conteudo %}
<!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'admin:index'%}">Início</a>
        </li>
        <li class="breadcrumb-item ">
            <a href="{%url 'admin:artista-listar'%}">Artistas</a>
        </li>
        <li class="breadcrumb-item active">Novo</li>
    </ol>

    {% bootstrap_messages %}

    <div class="container-fluid">
        <h2>Adicionar Artista</h2>
        <hr>
        <form method="POST" class="form">
            {% csrf_token %}
            {% bootstrap_form form %}
            <hr>
            <a href="{%url 'admin:filme-novo'%}" class="btn btn-primary ml-2 mb-4 float-right">Adicionar Filme</a>
            <a href="{%url 'admin:artista-listar'%}" class="btn btn-danger ml-2 float-right">Cancelar</a>
            <button type="submit" class="btn btn-success ml-2 float-right">Adicionar Artista</button>
            
        </form>
    </div>
{% endblock conteudo %}