{% extends 'core/base.html' %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}

{% block conteudo %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'core:index'%}">Início</a>
        </li>
        <li class="breadcrumb-item ">
            <a href="{%url 'core:cliente-listar'%}">Clientes</a>
        </li>
        <li class="breadcrumb-item active">Editar</li>
    </ol>

    {% bootstrap_messages %}

    <div class="container-fluid">
        <h2>Editar Cliente</h2>
        <hr>
        <form method="POST" class="form">
            {% csrf_token %}
            <div class="form-row">
                <div class="col-md-6">
                    {{ form.first_name|as_crispy_field }}
                </div>
                <div class="col-md-6">
                    {{ form.last_name|as_crispy_field }}
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    {{ form.email|as_crispy_field }}
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-4">
                    {{ form.cpf|as_crispy_field }}
                </div>
                <div class="col-md-4">
                    {{ form.data_nascimento|as_crispy_field }}
                </div>
                <div class="col-md-4">
                    {{ form.sexo|as_crispy_field }}
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    {{ form.local_trabalho|as_crispy_field }}
                </div>
            </div>
            <fieldset class="mt-3">
                <legend><b>Contato</b></legend>
                {{ formset.management_form }}
                <div class="table-responsive">
                    <table class="table">
                        <thead class="text-center">
                            <th scope="col">Número</th>
                            <th scope="col">Tipo de Telefone</th>
                        </thead>
                        <tbody>
                            {% for form in formset %}
                                <tr class="elenco-form {% if form.instance.pk %}item{% else %}new{% endif %}">
                                    <td>{{ form.id }} {{ form.numero|as_crispy_field }}</td>
                                    <td class="text-center">{{ form.tipo|as_crispy_field }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </fieldset>
            <fieldset class="mt-2">
                <legend><b>Endereço<hr></b></legend>
                <!-- {% crispy end_form %} -->
                <div class="form-row">
                    <div class="col">
                        {{ end_form.cep|as_crispy_field }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-10">
                        {{ end_form.logradouro|as_crispy_field }}
                    </div>
                    <div class="col-md-2">
                        {{ end_form.numero|as_crispy_field }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6">
                        {{ end_form.complemento|as_crispy_field }}
                    </div>
                    <div class="col-md-6">
                        {{ end_form.bairro|as_crispy_field }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6">
                        {{ end_form.estado|as_crispy_field }}
                    </div>
                    <div class="col-md-6">
                        {{ end_form.cidade|as_crispy_field }}
                    </div>
                </div>
            </fieldset>
            <div class="form-actions">
                <hr/>
                <a href="{%url 'core:cliente-listar'%}" class="btn btn-danger ml-2 mb-4 float-right">Cancelar</a>
                <button type="submit" class="btn btn-success ml-2 float-right">Salvar Cliente</button>
            </div>
        </form>
    </div>
{% endblock conteudo %}
{% block javascript %}
    <script>
        $('#id_cpf').val("{{ cliente.user.perfil.cpf }}");
        $('#id_data_nascimento').val("{{ cliente.user.perfil.data_nascimento|date:'d/m/Y' }}");
        $('#id_local_trabalho').val("{{ cliente.local_trabalho }}");

        function carregar_cidades(estado_id){
            var url =  "{% url 'core:ajax-cidades-carregar' %}";
            var estadoId = estado_id;
            var dfd = $.Deferred();

            $.ajax({
                url: url,
                data:{'estado': estadoId},
                success: function(data){
                    $('#id_cidade').html(data);
                    dfd.resolve();
                }
            });
            return dfd.promise();
        }

        $('#id_estado').change(function(){
            var estadoId = $(this).val();
            carregar_cidades(estadoId);
        });

        
        $('#id_cep').blur(function(){
            var url =  "{% url 'core:ajax-buscar-cep' %}";
            cep = $(this).val();

            $.ajax({
                url: url,
                data: {'cep': cep},
                success: function(data){
                    $('#id_logradouro').val(data.end);
                    $('#id_bairro').val(data.bairro);
                    $('#id_complemento').val(data.complemento2);
                    $('#id_estado').val(data.uf).change();
                    var retorno = carregar_cidades(data.uf);
                    retorno.then(function(){
                        $('#id_cidade').val(data.cidade).change();
                    });
                    $("#id_numero").focus();
                }
            });
        });

        
    </script>
{% endblock javascript %}