<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Locadora Imperial</title>

        {% load static %}
        {% load bootstrap4 %}
        {% load i18n %}
        {% load account %}

        <link rel="shortcut icon" type="image/png" href="{% static '/img/coroa.png' %}"/>

        {% bootstrap_css %}
        {% bootstrap_javascript jquery='full' %}

        <!-- Bootstrap core CSS-->
        <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

        <!-- Custom fonts for this template-->
        <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">

        <!-- Page level plugin CSS-->
        <link href="{% static 'vendor/datatables/dataTables.bootstrap4.css' %}" rel="stylesheet">

        <!-- Custom styles for this template-->
        <link href="{% static 'css/sb-admin.css' %}" rel="stylesheet">
        <link href="{% static 'vendor/bootstrap-toggle/css/bootstrap-toggle.min.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'vendor/notifyMessage/css/notifyMessage.css' %}">

        <!-- Custom styles for this template -->
        <link href="{% static 'css/shop-homepage.css' %}" rel="stylesheet">

    </head>

    <body>
        {% if user.is_authenticated %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <div class="collapse navbar-collapse d-flex flex-row-reverse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {% user_display user %}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'meu-perfil' %}">Perfil</a>
                            <a class="dropdown-item" href="{% url 'alterar-senha' %}">Alterar senha</a>
                            {% if perms.core %}
                                <a class="dropdown-item" href="{% url 'core:index' %}">Administração</a>
                            {% endif %}
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Sair</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        {% endif %}
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark {% if not user.is_authenticated %} fixed-top {% endif %}">
            <div class="container">
                <a class="navbar-brand" href="{% url 'index' %}">Locadora Imperial</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'index' %}">Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Sobre</a>
                        </li>
                        {% if not user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'account_login' %}">Login</a>
                        </li>
                        {% endif %}
                        <li class="nav-item mr-3">
                            <a class="nav-link" href="#">Contato</a>
                        </li>
                        <form class="form-inline" method="GET" action="{% url 'buscar-filmes' %}">
                            <input class="form-control mr-sm-2" name="nome" type="search" placeholder="Busca" aria-label="Busca">
                            <button class="btn btn-default my-2 my-sm-0" type="submit">Buscar</button>
                        </form>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Page Content -->
        <div class="container mb-4" >

            <div class="row">

                {% block conteudo %}

                {% endblock conteudo %}

            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->


        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form method="post" action="{% url 'account_logout' %}">
                        {% csrf_token %}
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">{% trans "Sign Out" %}</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            {% trans 'Are you sure you want to sign out?' %}
                            {% if redirect_field_value %}
                                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                            {% endif %}
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-danger">{% trans "Sign Out" %}</button>
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <footer class="py-5 bg-dark">
            <div class="container">
                <p class="m-0 text-center text-white">Copyright &copy; Locadora Imperial</p>
            </div>
        <!-- /.container -->
        </footer>


    </body>

</html>
