<form method="POST" class="form js-item-delete-form" action="{% url 'core:ajax-item-delete' item.pk %}">
    {% csrf_token %}
    <div class="modal-header">
        <h5 class="modal-title" id="itemAddModalLabel">Editar Item</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Você tem certeza que quer apagar o Item "{{ item.item }}"?</p>
        
    </div>
    <div class="modal-footer">
        <input type="submit" class="btn btn-danger" value="Sim, tenho certeza">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
    </div>    
</form>