{% load bootstrap4 %}
{% load crispy_forms_tags %}

<form method="POST" class="form js-item-add-form" action="{% url 'core:ajax-item-add' %}" id="form-item-add">
    {% csrf_token %}
    <div class="modal-header">
        <h5 class="modal-title" id="itemAddModalLabel">Adicionar Item</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        {% bootstrap_form form %}
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" id="add-item-modal">Adicionar Item</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
    </div>
</form>
{% block javascript %}
    <script>
        $(function () {
            $('#id_nova_data_devolucao').parent('div').hide();
            $('input[name="is_nova_data"]').on('click', function(){
                console.log('clicou');
                if($(this).is(':checked')){
                    console.log('Checked');
                    $('#id_nova_data_devolucao').parent('div').show('speed');
                } else{
                    $('#id_nova_data_devolucao').parent('div').hide('speed');
                }
            });
            $('#id_item').change(function(){
                var itemId = $(this).val();
                var url =  "{% url 'core:ajax-item-carregar' %}";
                $.ajax({
                    url: url,
                    data:{'item': itemId},
                    success: function(data){
                        $('#id_valor').val(data.valor).change();
                        $('#id_desconto').val(0).change();
                        $('#id_data_devolucao_prevista').val(data.data_devolucao).change();
                        $('#id_nova_data_devolucao').val(data.data_devolucao).change();
                    }
                });
            });
        });

    </script>
    {{ form.media }}
{% endblock javascript %}
