{% extends 'loja/base.html' %}

{% load bootstrap4 %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block conteudo %}
<div class="container mt-4">
    <h2>{% trans "Change Password" %}</h2>
    <hr>
    {% bootstrap_messages %}
    
    <form method="POST" class="password_change">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" name="action" class="btn btn-success">{% trans "Change Password" %}</button>
    </form>
</div>
{% endblock %}
