{% extends 'core/base.html' %}
{% load bootstrap4 %}

{% block conteudo %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'core:index'%}">Início</a>
        </li>
        <li class="breadcrumb-item ">
            <a href="{%url 'core:distribuidora-listar'%}">Distribuidoras</a>
        </li>
        <li class="breadcrumb-item active">Editar</li>
    </ol>

    <div class="container-fluid">
        <h2>Editar Distribuidora</h2>
        <hr>
        <form method="POST" class="form">
            {% csrf_token %}
            {% bootstrap_form form %}
            <hr>
            <a href="{%url 'core:distribuidora-listar'%}" class="btn btn-danger ml-2 float-right">Cancelar</a>
            <button type="submit" class="btn btn-success ml-2 float-right">Adicionar Distribuidora</button>
                       
        </form>
    </div>
{% endblock conteudo %}