{% extends 'core/base.html' %}
{% load bootstrap4 %}
{% load static %}
{% load crispy_forms_tags %}

{% block conteudo %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'admin:index'%}">Início</a>
        </li>
        <li class="breadcrumb-item ">
            <a href="{%url 'admin:filme-listar'%}">Filme</a>
        </li>
        <li class="breadcrumb-item active">Editar</li>
    </ol>

    {% bootstrap_messages %}

    <div class="container-fluid">
        <h2>Editar Filme</h2>
        <hr>
        <form method="POST" class="form">
            {% crispy form %}
        
            <h3>Elenco</h3>
            <hr>
            {{ formset.management_form }}
            <div class="table-responsive">
                <table class="table">
                    <thead class="text-center">
                        <th scope="col">
                            Ator <a href="#" class="add-another" id="add_id_ator" data-toggle="tooltip" data-placement="bottom" title="Adicionar um ator"> <img src="{% static '/img/icon_addlink.svg' %}" width="13" height="13" alt="Add outro ator"/></a>
                        </th>
                        <th scope="col">Personagem</th>
                        <th scope="col">Principal?</th>
                        <th scope="col"></th>
                    </thead>
                    <tbody>
                        {% for form in formset %}
                            <tr id="{{ form.prefix }}-row" class="elenco-form formset">
                                <td>{{ form.id }} {{ form.ator }}</td>
                                <td>{{ form.personagem }}</td>
                                <td class="text-center">{{ form.principal }}</td>
                                <td>{{ form.DELETE }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <hr>
            <div class="form-actions">
                <a href="{%url 'admin:genero-novo'%}" class="btn btn-primary ml-2 mb-4 float-right">Adicionar Gênero</a>
                <a href="{%url 'admin:filme-listar'%}" class="btn btn-danger ml-2 float-right">Cancelar</a>
                <input type="submit" name="save_changes" value="Salvar alterações" class="btn btn-primary btn-success ml-2 mb-4 float-right" id="submit-id-save_changes">                       
            </div>
        </form>
    </div>

    <script>
        $("label[for='id_diretor']").append(
            '<a href="#" class="add-another" id="add_id_diretor" data-toggle="tooltip" data-placement="bottom" title="Adicionar um diretor"> <img src="{% static '/img/icon_addlink.svg' %}" width="13" height="13" alt="Add Another"/></a>'
        );

        $("label[for='id_genero']").append(
            '<a href="#" class="add-another" id="add_id_genero" data-toggle="tooltip" data-placement="bottom" title="Adicionar um gênero"> <img src="{% static '/img/icon_addlink.svg' %}" width="13" height="13" alt="Add Another"/></a>'
        );

        $("#add_id_diretor").click(function(){
            $.ajax({
                url: "{%url 'admin:ajax-diretor-novo' %}",
                type: 'get',
                dataType: 'json',
                beforeSend: function () {
                    $("#genericModal").modal("show");
                },
                success: function (data) {
                    $("#genericModal .modal-content").html(data.html_form);
                }
            }); 
        });

        $("#genericModal").on("submit", ".js-diretor-novo-form", function(){
            var form = $(this);
            $.ajax({
                url: form.attr("action"),
                data: form.serialize(),
                type: form.attr("method"),
                dataType: 'json',
                success: function(data){
                    if (data.form_is_valid) {
                        runNotify({
                            message: 'Diretor adicionado com sucesso!',
                            levelMessage: 'success'
                        });
                        $("#id_diretor").empty();
                        $("#id_diretor").append(data.html_diretor_list);
                        $("#genericModal").modal("hide");
                    } else {
                        $("#genericModal .modal-content").html(data.html_form);
                    }
                }
            });
            return false;
        });


        $("#add_id_genero").click(function(){
            $.ajax({
                url: "{%url 'admin:ajax-genero-novo' %}",
                type: 'get',
                dataType: 'json',
                beforeSend: function () {
                    $("#genericModal").modal("show");
                },
                success: function (data) {
                    $("#genericModal .modal-content").html(data.html_form);
                }
            }); 
        });

        $("#genericModal").on("submit", ".js-genero-novo-form", function(){
            var form = $(this);
            $.ajax({
                url: form.attr("action"),
                data: form.serialize(),
                type: form.attr("method"),
                dataType: 'json',
                success: function(data){
                    if (data.form_is_valid) {
                        runNotify({
                            message: 'Gênero adicionado com sucesso!',
                            levelMessage: 'success'
                        });
                        $("#id_genero").empty();
                        $("#id_genero").append(data.html_genero_list);
                        $("#genericModal").modal("hide");
                    } else {
                        $("#genericModal .modal-content").html(data.html_form);
                    }
                }
            });
            return false;
        });
    
        $("#add_id_ator").click(function(){
            $.ajax({
                url: "{%url 'admin:ajax-ator-novo' %}",
                type: 'get',
                dataType: 'json',
                beforeSend: function () {
                    $("#genericModal").modal("show");
                },
                success: function (data) {
                    $("#genericModal .modal-content").html(data.html_form);
                }
            }); 
        });

        $("#genericModal").on("submit", ".js-ator-novo-form", function(){
            var form = $(this);
            $.ajax({
                url: form.attr("action"),
                data: form.serialize(),
                type: form.attr("method"),
                dataType: 'json',
                success: function(data){
                    if (data.form_is_valid) {
                        runNotify({
                            message: 'Ator adicionado com sucesso!',
                            levelMessage: 'success'
                        });
                        $(".js-ator").empty();
                        $(".js-ator").append(data.html_ator_list);
                        $("#genericModal").modal("hide");
                    } else {
                        $("#genericModal .modal-content").html(data.html_form);
                    }
                }
            });
            return false;
        });

        function updateElementIndex(el, prefix, ndx) {
            var id_regex = new RegExp('(' + prefix + '-\\d+)');
            var replacement = prefix + '-' + ndx;
            if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
            if (el.id) el.id = el.id.replace(id_regex, replacement);
            if (el.name) el.name = el.name.replace(id_regex, replacement);
        }

        function deleteForm(btn, prefix) {
            $(btn).parents('.dynamic-form').remove();
            var forms = $('.dynamic-form');
            $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
            for (var i=0, formCount=forms.length; i<formCount; i++) {
                $(forms.get(i)).children().not(':last').children().each(function() {
                    // updateElementIndex(this, prefix, i);
                    $('#id_' + prefix + '-'+i+'-DELETE').attr('checked');
                    // alert('#id_' + prefix + '-'+i+'-DELETE');
                });
            }
            return false;
        }

        $(function () {
            $('.add-row').click(function() {
                var prefix = '{{ formset.prefix }}';
                var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
                var row = $('.dynamic-form:first').clone(true).get(0);
                $(row).removeAttr('id').insertAfter($('.dynamic-form:last')).children('.hidden').removeClass('hidden');
                $(row).children().not(':last').children().each(function() {
                    updateElementIndex(this, prefix, formCount);
                    $(this).val('');
                });
                $(row).find('.delete-row').click(function() {
                    deleteForm(this, prefix);
                });
                $('#id_' + prefix + '-TOTAL_FORMS').val(formCount + 1);
            });

            $('.delete-row').click(function() {
                return deleteForm(this, '{{ formset.prefix }}');
            })
        })
    </script>
{% endblock conteudo %}