{% extends 'core/base.html' %}
{% load bootstrap4 %}
{% load static %}
{% load crispy_forms_tags %}

{% block conteudo %}
<!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'admin:index'%}">Início</a>
        </li>
        <li class="breadcrumb-item ">
            <a href="{%url 'admin:filme-listar'%}">Filme</a>
        </li>
        <li class="breadcrumb-item active">Novo</li>
    </ol>

    {% bootstrap_messages %}

    <div class="container-fluid">
        <h2>Adicionar Filme</h2>
        <hr>
        <form method="POST" class="form">
            {% csrf_token %}
            {% crispy form %}
            
            <h3>Elenco</h3>
            <hr>
            {{ formset.management_form }}
            <div class="table-responsive">
                <table class="table">
                    <thead class="text-center">
                        <th scope="col">
                            Ator <a href="" class="add-another" id="add_id_ator" data-toggle="tooltip" data-placement="bottom" title="Adicionar um ator"> <img src="{% static '/img/icon_addlink.svg' %}" width="13" height="13" alt="Add outro ator"/></a>
                        </th>
                        <th scope="col">Personagem</th>
                        <th scope="col">Principal?</th>
                        <th scope="col"></th>
                    </thead>
                    <tbody>
                        {% for form in formset %}
                            <tr class="elenco-form {% if form.instance.pk %}item{% else %}new{% endif %} formset">
                                <td>{{ form.id }} {{ form.ator }}</td>
                                <td>{{ form.personagem }}</td>
                                <td class="text-center">{{ form.principal }}</td>
                                {% if form.istance.pk %}
                                    <td class="text-center">{{ form.DELETE }}</td>
                                {% else %}
                                    <td class="text-center"></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="form-actions">
                <hr>
                <a href="{% url 'admin:midia-listar' %}" class="btn btn-danger ml-2 float-right">Cancelar</a>
                <input type="submit" name="save_changes" value="Adicionar Filme" class="btn btn-primary btn-success ml-2 mb-4 float-right" id="submit-id-save_changes">
            </div>
        </form>
    </div>

{% endblock conteudo %}

{% block javascript %}
    <script>
        $("label[for='id_diretor']").append(
            '<a href="" class="add-another" id="add_id_diretor" data-toggle="tooltip" data-placement="bottom" title="Adicionar um diretor"> <img src="{% static '/img/icon_addlink.svg' %}" width="13" height="13" alt="Adicionar outro diretor"/></a>'
        );

        $("label[for='id_genero']").append(
            '<a href="" class="add-another" id="add_id_genero" data-toggle="tooltip" data-placement="bottom" title="Adicionar um gênero"> <img src="{% static '/img/icon_addlink.svg' %}" width="13" height="13" alt="Adicionar outro gênero"/></a>'
        );

        $("#add_id_diretor").click(function(){
           $.ajax({
                url: "{% url 'admin:ajax-diretor-novo' %}",
                type: 'get',
                dataType: 'json',
                beforeSend: function () {
                        $("#genericModal").modal("show");
                },
                success: function (data) {
                    $("#genericModal .modal-content").empty();
                    $("#genericModal .modal-content").append(data.html_form_diretor);
                }
           }); 
           return false;
        });

        $("#genericModal").on("submit", ".js-diretor-novo-form", function(){
            var form = $(this);
            $.ajax({
                url: form.attr("action"),
                data: form.serialize(),
                type: form.attr("method"),
                dataType: 'json',
                success: function(data){
                    if (data.form_diretor_is_valid) {
                        runNotify({
                            message: 'Diretor adicionado com sucesso!',
                            levelMessage: 'success'
                        });
                        $("#id_diretor").empty();
                        $("#id_diretor").append(data.html_diretor_list);
                        $("#genericModal").modal("hide");
                    } else {
                        $("#genericModal .modal-content").append(data.html_form_diretor);
                    }
                }
            });
            return false;
        });


        $("#add_id_genero").click(function(){
           $.ajax({
                url: "{%url 'admin:ajax-genero-novo' %}",
                type: 'get',
                dataType: 'json',
                beforeSend: function () {
                        $("#genericModal").modal("show");
                },
                success: function (data) {
                    $("#genericModal .modal-content").empty();
                    $("#genericModal .modal-content").append(data.html_form_genero);
                }
           }); 
           return false;
        });

        $("#genericModal").on("submit", ".js-genero-novo-form", function(){
            var form = $(this);
            $.ajax({
                url: form.attr("action"),
                data: form.serialize(),
                type: form.attr("method"),
                dataType: 'json',
                success: function(data){
                    if (data.form_genero_is_valid) {
                        $("#id_genero").empty();
                        $("#id_genero").append(data.html_genero_list);
                        $("#genericModal").modal("hide");
                        runNotify({
                            message: 'Gênero adicionado com sucesso!',
                            levelMessage: 'success'
                        });
                    } else {
                        $("#genericModal .modal-content").append(data.html_form_genero);
                    }
                }
            });
            return false;
        });
    
        $("#add_id_ator").click(function(){
           $.ajax({
                url: "{%url 'admin:ajax-ator-novo' %}",
                type: 'get',
                dataType: 'json',
                beforeSend: function () {
                    $("#genericModal").modal("show");
                },
                success: function (data) {
                    $("#genericModal .modal-content").empty();
                    $("#genericModal .modal-content").append(data.html_form_ator);
                }
           }); 
           return false;
        });

        $("#genericModal").on("submit", ".js-ator-novo-form", function(){
            var form = $(this);
            $.ajax({
                url: form.attr("action"),
                data: form.serialize(),
                type: form.attr("method"),
                dataType: 'json',
                success: function(data){
                    if (data.form_ator_is_valid) {
                        $(".js-ator").empty();
                        $(".js-ator").append(data.html_ator_list);
                        $("#genericModal").modal("hide");
                        runNotify({
                            message: 'Ator adicionado com sucesso!',
                            levelMessage: 'success'
                        });
                    } else {
                        $("#genericModal .modal-content").append(data.html_form_ator);
                    }
                }
            });
            return false;
        });

    </script>
{% endblock javascript %}