{% extends 'core/base.html' %}
{% load bootstrap4 %}
{% load static %}
{% load crispy_forms_tags %}

{% block conteudo %}
<!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'admin:index'%}">Início</a>
        </li>
        <li class="breadcrumb-item ">
            <a href="{%url 'admin:filme-listar'%}">Filme</a>
        </li>
        <li class="breadcrumb-item active">Novo</li>
    </ol>

    {% bootstrap_messages %}

    <div class="container">
        <h2>Adicionar Filme</h2>
        <hr>
        <form method="POST" class="form">
            {% csrf_token %}
            {% crispy form %}
            <hr>
            <a href="{%url 'admin:genero-novo'%}" class="btn btn-primary ml-2 mb-4 float-right">Adicionar Gênero</a>
            <a href="{%url 'admin:filme-listar'%}" class="btn btn-danger ml-2 float-right">Cancelar</a>
            <button type="submit" class="btn btn-success ml-2 float-right">Adicionar Filme</button>
        </form>
    </div>

    <script>
        $("label[for='id_diretor']").append(
            //"<a id='add_id_recipe__dot__recipe__braceleft__profile__braceright__' href='{% url "admin:pessoafilme-novo" %}' class='font-weight-bold ml-2 add-another' style='font-size:20px;'>+</a>"
            '<a href="{% url "admin:pessoafilme-novo" %}" class="add-another" id="add_id_{{field.html_name}}" onclick="return showAddAnotherPopup(this);"> <img src="{% static '/img/icon_addlink.svg' %}" width="12" height="12" alt="Add Another"/></a>'
            );
    
    </script>
{% endblock conteudo %}