{% extends 'core/base.html' %}
{% load bootstrap4 %}
{% load display_custom %}

{% block conteudo %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'admin:index'%}">Início</a>
        </li>
        <li class="breadcrumb-item ">
            <a href="{%url 'admin:midia-listar'%}">Mídia</a>
        </li>
        <li class="breadcrumb-item active">Detalhar</li>
    </ol>

    {% bootstrap_messages %}

    <div class="container-fluid">
        <h2>Detalhar Tipos de Mídia</h2>
        <hr>
        <div class="form-group">
            <label class="negrito">Nome: </label>    
            {{ object.nome }}
        </div> 
        <div class="form-group">
            <label class="negrito">Valor: </label>    
            {{ object.valor|currency }}
        </div> 
        <hr>
        <a href="{% url 'admin:midia-listar' %}" class="btn btn-info ml-2 mb-4 float-right">Voltar para a Listagem</a>
        <a href="{% url 'admin:midia-novo' %}" class="btn btn-success ml-2 float-right">Adicionar Tipo de Mídia</a>
    </div>
{% endblock conteudo %}
