{% extends 'core/base.html' %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}

{% block conteudo %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'core:index'%}">Início</a>
        </li>
        <li class="breadcrumb-item ">
            <a href="{%url 'core:midia-listar'%}">Mídia</a>
        </li>
        <li class="breadcrumb-item">Editar</li>
        <li class="breadcrumb-item active">{{ form.instance }}</li>
    </ol>

    <div class="container-fluid">
        <h2>Editar Tipo de Mídia</h2>
        <hr>
        <form method="POST" class="form">
            {% csrf_token %}
            {{ form.nome|as_crispy_field }}
            {{ form.valor|as_crispy_field }}
            <div class="form-actions">
                <hr>
                {% if perms.core.view_midia %}
                    <a href="{% url 'core:midia-listar' %}" class='btn btn-danger ml-2 float-right'>Cancelar</a>
                {% endif %}
                <input type="submit" name="save_changes" value="Salvar Tipo de Mídia" class="btn btn-success ml-2 mb-4 float-right" id="submit-id-save_changes"/>
            </div>
        </form>
    </div>
{% endblock conteudo %}