{% extends 'core/base.html' %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}


{% block conteudo %}
<!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'admin:index'%}">Início</a>
        </li>
        <li class="breadcrumb-item ">
            <a href="{%url 'admin:midia-listar'%}">Mídias</a>
        </li>
        <li class="breadcrumb-item active">Novo</li>
    </ol>

    {% bootstrap_messages %}

    <div class="container-fluid">
        <h2>Adicionar Tipo de Mídia</h2>
        <hr>
        <form method="POST" class="form">
            {% csrf_token %}
            {% crispy form %}            
        </form>
    </div>
{% endblock conteudo %}